.dd {
    background-color: rgba(17, 3, 75, 0.9);
    padding: 20px 40px;
}

.btn-dd {
    background-color: rgba(17, 3, 75, 0.9);
   
}

body{
    background-color: steelblue;
}

.form_border{
    border-radius: 30px;
}